@import "color";
@import "common";

* {
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

*:not(input, textarea) {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

.no-data-wrap {
  height: 20vh;
  line-height: 20vh;
  color: #FFFFFF;
  font-size: .5rem;
  text-align: center;
}

ul, li {
  list-style: none;
}

.weui-toast {
  width: 2.6rem !important;
  min-height: 2.6rem !important;
}
